<!-- contact.component.html -->
<h1>Contact Us</h1>
<p>If you have any questions or feedback, please feel free to contact us using the form below.</p>

<form (ngSubmit)="submitForm()">
  <div class="form-group col-5">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" [(ngModel)]="formData.name" name="name" required>
  </div>
  <div class="form-group col-5">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email" [(ngModel)]="formData.email" name="email" required>
  </div>
  <div class="form-group col-5">
    <label for="phone">Phone</label>
    <input type="tel" class="form-control" id="phone" [(ngModel)]="formData.phone" name="phone" required>
  </div>
  <div class="form-group col-5">
    <label for="message">Message</label>
    <textarea class="form-control" id="message" [(ngModel)]="formData.message" name="message" rows="4" required></textarea>
  </div>
  <br><pre>
                         <button type="submit" class="btn btn-primary">Submit</button>
  </pre>
</form>
<div class="container-img">
  <img src="../../assets/2663543.jpg">
</div>
